.vk-logo
  height: 7.2vh
  width: 7.2vh
  display: inline-block
  margin-top: -0.9vh
  background: url(../../../../../assets/img/vklogo.png) no-repeat
  background-size: 7.2vh



.hh-logo
  height: 7.2vh
  width: 7.2vh
  display: inline-block
  margin-top: -0.9vh
  background: url(../../../../../assets/img/hh-logo.png) no-repeat
  background-size: 7.2vh