.settings
  // background: url(@/assets/img/ask.png) no-repeat

.help
  background: url(#) no-repeat

.icon
  height: 5vh
  width: 3vh
  margin-top: 1.5vh
  margin-right: 3vh
  background-size: 2.5vh
  &:hover
    transition-property: background-size
    transition-duration: .2s
    background-size: 3vh

.user
  background: url(#) no-repeat

.userDev 
  background: url(#) no-repeat