.user-photo
  cursor: pointer



.logout-modal
  height: 14vh
  width: 17vw
  background: #ffffff
  margin: 5vh 0vh 0vh 168.23vh
  padding: 1vh
  box-shadow:  #9c9c9c -0.5vh 0.7vh 1.5vh
  position: absolute

.logout-button
  height: 3vh
  width: 8vh
  display: inline-block
  margin: 0vh 1vh 0vh 25vh
  border: 0
  &:hover
    background: #727272

.user-photo
  background-size: 5vh
  border-radius: 10vh
  margin: .7vh 1.1vh 0vh 0vh 
  height: 3.5vh
  width: 3.4vh

.logout-logo
  height: 2vh
  width: 16.5vh
  margin-top: .5vh
  position: absolute
  display: inline-block
  background: #8a8a8a00

.logout-modal-block
  height: 4vh
  width: 22vh
  text-align: center
  padding: 3vh 0vh
  margin: 1vh 0vh 0vh 10.5vh

hr
  margin: .5vh