.navbar
  background: #eeeeee
  width: 3rem
  height: 100vh
  display: flex
  position: absolute

.menu-bars
  margin: 2vh .7rem
  font-size: 1.5rem
  background: none

.nav-menu
  background: #eeeeee
  width:  30vh
  height: 90.8vh
  justify-content: center
  position: absolute
  top: 5vh
  left: -100%
  transition: 850ms

.nav-menu.active-light
  height: 100vh
  left: 0vh
  transition: 350ms
  border-right: .1vh #a7a7a771 solid

.nav-text 
  display: flex
  align-items: center
  padding: 0vh 0vh 0vh 0vh 
  list-style: none
  height: 5vh

.nav-text a 
  text-decoration: none
  color: #919191
  font-size: 1.5rem
  margin-top: 0rem
  padding-left: 1.6rem
  width: 100%
  height: 110%
  display: flex
  align-items: center
  border-radius: .1vh

.nav-text a:hover
  background: #fdfdfd

.nav-menu-items
  width: 100%

.navbar-toggle
  margin: 1.4rem 0rem 1rem .5rem
  width: 100%
  height: 1.5rem
  display flex
  align-items: center

span
  margin-left: 2vh

.navbar-dark
  background: #202027

.nav-menu.active-dark
  background: #202027
  height: 100vh
  left: 0vh
  transition: 350ms
  border-right: .1vh #a7a7a771 solid



