.input
  margin: 1vh auto
  outline: none
  width: 38vh
  border: 0
  transition-property: background width
  background: #2b3352
  border-radius: .5vh
  &:hover
    transition-duration: .5s
    width: 39vh
    background: #ffff 
  &:not(:hover)
    transition-duration: .5s
    width: 38vh
    background: #2b3352
  &:focus
    width: 39vh
    background: #ffff 

    
  