@font-face 
  font-family: Bebas
  src: url(../../assets/fonts/norm.otf)

.todo-input-div
  display: flex
  flex-direction: row

.todo-input
  font-family: Bebas
  display: block
  height: 3vh
  font-size: 2vh
  width: 92.3vw
  padding: .5vw 0vw .0vw .5vw  
  margin: 2vh 0vh 0vh 3.3rem
  border: 0
  border-bottom: .1rem solid black
  flex-shrink: 3

.add-button
  background: #ffffff00
  text-align: center
  cursor: pointer
  font-size: 2.4vh
  border: 0
  padding: 3vh .3vh .2vh .7vh
