@font-face 
  font-family: pribambas
  src: url(../../assets/fonts/pribambas.ttf)


.todo-input
  font-family: pribambas
  display: block
  height: 3vh
  width: 96vw
  margin: 2vh 0vh 0vh 6.6vh
  border: 0
  border-bottom: .1rem solid black

.add-button
  background: #ffffff
  text-align: center
  cursor: pointer
  font-size: 2.4vh
  border: 0
  position: absolute
  padding: -0.5vh .3vh .2vh .2vh
  margin: -3.12vh 0vh 0vh 196.5vh