
.todo
  display: block
  background: #eeee
  max-height: 3vh
  cursor: pointer

.todo-button
  margin-top: 0
  display: inline-block
  margin: 0vh 0vh 0vh 1vh
  cursor: pointer

.todo-text
  display: inline-block
  margin: 0vh 0vh 0vh 1vh
  cursor: pointer



.todo-button-important
  display: block
  margin: -2.2vh 0vh 0vh 191vh
  cursor: pointer

